*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
/.kotlin/sessions/*

# Release artifacts
/app/release/

# Kotlin
/.kotlin/
telemetry-id
